
<div class="row">
  <div class="col-sm-9">
    <div id="messages-panel" class="panel panel-default">
      <div class="panel-heading">Messages</div>
      <div class="panel-body panel-container">
        <div id="logs">
          <p class="msg" ng-repeat="message in messages">
            <span>[{{message.datetime}}]</span>
            <img ng-src="http://www.gravatar.com/avatar/{{message.cid}}?s=15&d=identicon&f=y\" />
            <span>:</span>{{message.body}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div id="members-panel" class="panel panel-default">
      <div class="panel-heading">Members</div>
      <div class="panel-body panel-container">
        <div id="members">
          <p class="msg" ng-repeat="cid in cids">
            <span>[{{members[cid].datetime}}]</span>
            <img ng-src="http://www.gravatar.com/avatar/{{cid}}?s=15&d=identicon&f=y" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
