
<div class="container">
  <hr />

  <div class="col-sm-9">
    <div class="row">
      <div ng-repeat="room in rooms" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{room.name}} [room]</h3>
        </div>
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div id="room-{{room.oid}}" class="well">
                  <div class="message" ng-repeat="message in history[room.oid]">
                    [ {{ message.created_at }} ] {{ message.from_id }} : {{ message.body }}
                  </div>
                </div>
                <hr />
                <form class="form-inline" role="form" ng-submit="send('room', room.oid)">
                  <div class="form-group">
                    <input type="text" ng-model="text" class="form-control" id="message-input-{{room.oid}}" placeholder="Enter Message">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Send</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-3">
                <div class="list-group">
                  <li ng-repeat="member in members[room.oid]" class="list-group-item"> {{member.name}}</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-sm-3">
    <div class="list-group">
      <li ng-repeat="room in rooms" class="list-group-item">{{room.name}}</li>
    </div>
  </div>
</div>
</div> <!-- .container -->
