
<div class="container">
  <hr />

  <div class="row">
    <div class="col-sm-10">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>          
          </div>
          
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>          
          </div>
        </div> <!-- .row -->
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>          
          </div>
          
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>          
          </div>
        </div> <!-- .row -->
        
      </div>   <!-- .container -->
    </div>
    <div class="col-sm-2">
      <div class="list-group">
        <li class="list-group-item active">Room.1</li>
        <li class="list-group-item">Room.2</li>
        <li class="list-group-item">User.1</li>
        <li class="list-group-item">User.2</li>
        <li class="list-group-item">User.3</li>            
      </div>
    </div>
  </div>
</div> <!-- .container -->


