
<div class="container">
  <h3>{{ user.name }}</h3>
  <hr />

  <div class="col-sm-9">
    <div class="row">
      <div ng-repeat="room in rooms" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{room.name}} [room]</h3>
        </div>
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div id="room-{{room.oid}}" class="well">
                  <div class="message" ng-repeat="message in history[room.oid]">
                    <span class="time">[ {{ message.created_at }} ]</span>
                    <img ng-src="http://www.gravatar.com/avatar/{{message.from_id}}?s=12&d=identicon&f=y" /> : {{ message.body }}
                  </div>
                </div>
                <hr />
                <form class="form-inline" role="form" ng-submit="send('room', room.oid)">
                  <div class="form-group">
                    <input type="text" ng-model="text" class="form-control" id="message-input-{{room.oid}}" placeholder="Enter Message">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Send</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-3">
                <div class="list-group members">
                  <li ng-repeat="member in members[room.oid]" class="list-group-item">
                    <img ng-src="http://www.gravatar.com/avatar/{{member.oid}}?s=12&d=identicon&f=y" /> {{member.name}}
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-sm-3">
    <div class="list-group">
      <li ng-repeat="room in rooms" class="list-group-item">{{room.name}}</li>
    </div>
  </div>
</div>
</div> <!-- .container -->
